# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


__pycache__/
*.pyc
.env
*.db

# Node
node_modules/
dist/

# Ollama / data
data/sentinel.db